/* ------------------------ */
/* Custom Property          */
/* ------------------------ */

:root{
  /* Colors */
  --clr-dark: 230 35% 7%;
  --clr-accent: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* Fonts-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* Font-families (find google fonts @48.00) */
  --ff-serif: 'Bellefair', serif;
  --ff-sans-cond: 'Barlow Condensed', sans-serif;
  --ff-sans-normal: 'Barlow', sans-serif;
}



/* ------------------------ */
/* Reset                    */
/* ------------------------ */

/* https://piccalil.li/blog/a-modern-css-reset/  */

/* Box sizing */
*, 
*::before,
*::after{
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture{
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body{
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
}
/* make images easier to work with */
img, 
picture{
  max-width: 100%;
  display: block;
  object-fit: fit;
  width: 100%;
}
/* make forms elements easier to work with */
input,
button,
textarea,
select{
  font: inherit;
}
/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce){
  *,
  *::before,
  *::after{
    animation-direction: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/* ------------------------ */
/* Utility classes          */
/* ------------------------ */


/* general */
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fill{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.flex{
  display: flex;
  gap: var(--gap, 1rem);
}
.grid{
  display: grid;
  gap: var(--gap, 1rem);
}
.flow > *:where(:not(:first-child)){
  margin-top: var(--flow-space, 1rem);
  /* outline: 1px solid red; */
}
.container{
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 80rem;
  height: 500px;
}
@media (max-width: 45em){
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* screen reader, visually impaired */
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* add line */
  border: 0;
}

/* Colors */
.bg-dark{background-color: hsl(var(--clr-dark));}
.bg-accent{background-color: hsl(var(--clr-accent));}
.bg-white{background-color: hsl(var(--clr-white));}

.text-dark{color: hsl(var(--clr-dark));}
.text-accent{color: hsl(var(--clr-accent));}
.text-white{color: hsl(var(--clr-white));}

/* Typography */
.ff-serif {font-family: var(--ff-serif);}
.ff-sans-cond {font-family: var(--ff-sands-cond);}
.ff-sans-normal {font-family: var(--ff-sans-normal);}

.letter-spacing-1 {letter-spacing: 4.75px;}
.letter-spacing-2 {letter-spacing: 2.7px;}
.letter-spacing-3 {letter-spacing: 2.35px;}

.uppercase {text-transform: uppercase;}

.fs-900 {font-size: var(--fs-900);}
.fs-800 {font-size: var(--fs-800);}
.fs-700 {font-size: var(--fs-700);}
.fs-600 {font-size: var(--fs-600);}
.fs-500 {font-size: var(--fs-500);}
.fs-400 {font-size: var(--fs-400);}
.fs-300 {font-size: var(--fs-300);}
.fs-200 {font-size: var(--fs-200);}

.fs-900,
.fs-800,
.fs-700,
.fs-600{
  line-height: 1.1;
}

.number-title{
  font-family: var(--ff-sands-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.number-title > span{
  margin-right: .5em;
  font-weight: 700;
  color: hsl(var(--clr-white)/.25);
}



/* ------------------------ */
/* Components          */
/* ------------------------ */

.large-button{
  position: relative;
  display: inline-grid;
  z-index: 1;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}
.large-button::after{
  content: '';
  position: absolute;
  z-index: -1;
  background: hsl(var(--clr-white)/.15);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 500ms ease-in-out;
}
.large-button:hover::after,
.large-button:focus::after{
  opacity: 1;
  transform: scale(1.5);
}
.primary-navigation{
  --gap: 4rem;
  --underline-gap: 2rem;
  list-style: none;
  padding: 0 2rem;
  margin: 0;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  background: hsl(var(--clr-dark)/.95);
}
@supports(backdrop-filter: blur(1.5rem)){
  .primary-navigation{
    background: hsl(var(--clr-white)/.05);
    backdrop-filter: blur(1.5rem);
  }
}
@media (max-width: 35rem){
  .primary-navigation{
    inset: 0 0 0 20%;
    padding: 0 min(30rem, 10vh) 2rem;
    --underline-gap: .5rem;
    display: flex;
    flex-direction: column;
  }
  .primary-navigation 
  .underline-indicators 
  > .active{
    border: 0;
  }
}
.primary-navigation > a{
  text-decoration: none;
}
.primary-navigation > a > span{
  font-weight: 700;
  margin-right: .5em;
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: .2rem solid hsl(var(--clr-white)/ 0);
  background-color: transparent;
}
.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--clr-white)/ .5);
}
.underline-indicators > .active,
.underline-indicators > [aria-selected='true'] {
  color: hsl(var(--clr-white)/ 1);  
  border-color: hsl(var(--clr-white)/ 1);
}
.tab-list{
  --gap: 2.5rem;
}
.dot-indicators > *{
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: .5em;
  background-color: hsl(var(--clr-white)/ .25);
}
.dot-indicators > *:hover,
.dot-indicators > *:focus{
  background-color: hsl(var(--clr-white)/ .5);
}
.dot-indicators > [aria-selected='true'] {
  background-color: hsl(var(--clr-white)/ 1);
}
.number-indicators > *{
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 2em;
  border: 2px solid hsl(var(--clr-white));
  background-color: hsl(var(--clr-white)/ .25);
}
.number-indicators > *:hover,
.number-indicators > *:focus{
  background-color: hsl(var(--clr-white)/ .5);
}
.number-indicators > [aria-selected='true'] {
  color: hsl(var(--clr-dark));
 background-color: hsl(var(--clr-white)/ 1);
}

/* @2:13:00, @3:22:00 */
.img{
  width: 50px;
}
.nav-logo{
  /* padding-inline: 2rem; */
  margin-inline: auto;
  /* max-width: 130rem; */
}
@media (max-width: 35rem){
  .nav-logo{
    border: 2px solid green;
    /* padding-inline: 0rem; */
    max-height: 60px;
    height: 100%;
  }
}

/* backgrounds */
.home{
  background-image: url(./assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.destination{
  background-image: url(./assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.crew{
  background-image: url(./assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.technology{
  background-image: url(./assets/technology/background-technology-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}
/* left & right displays */
.right-side{
  float: right;
  width: 50%;
  height: 100%;
  padding: 5rem;
  /* border: 2px solid yellow; */
}
.left-side{
  float: left;
  width: 50%;
  height: 100%;
  padding: 5rem;
  /* border: 2px solid red; */
}

.attribution{
  /* border: 2px solid red; */
  z-index: 1000;
  
  font-size: 12px;
  text-align: center;
  padding: 0px 0px 0px;
}
.attribution a{
  color: hsl(var(--clr-white));
  font-size: 9px;
  cursor: pointer;
}